<nav>
  <%= render partial: "render/nav1" %>
</nav>


<main class="MakeCustom-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable" style="">
      <div class="BGP-Opacity1" style="padding: 125px 0px 0px;">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-1"></div>
            <div class="col-10">
              <div class="col-md-8">
                <h1 class="mt-4 mb-5"><img class="icon-blank" src="/assets/Admin/file.png"><strong>テンプレートプロトコル作成</strong></h1>
              </div>
            </div>
        </div>
        <%= form_with model: @protocol, local: true do |f| %>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="form-group mb-5">
                  <label class="col-md-8 col-form-label mb-2" for="B_Name">タイトル（テンプレートプロトコルの名称）</label>
                  <div class="col-md-8">
                    <%= f.text_field :title, class: "form-control", id: "B_Name" %>
                  </div>
                </div>
            </div>
          </div>
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row justify-content-center">
          <div class="col-1"></div>
            <div class="col-10">
              <%= f.fields :procedures do |e|%>
                <label for="receipt" class="mb-3">実際の手順</label>
                  <div class="ele">
                    <%= render 'procedure_fields', f: e %>
                  </div>
                  <div class="ele">
                    <%= link_to_add_association "手順を追加", f, :procedures, class: "btn btn-outline-primary" %>
                  </div>
              <% end %>
          </div>
        </div>
        </div>                <!-- 全体を囲むコンテナ -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-1"></div>
              <div class="col-10">
                  <div class="form-group col-md-8 mb-4">
                    <%= f.label :category_id, 'カテゴリーを選択するか、新しいカテゴリー名を入力してください。' %>
                    <%= f.collection_select :category_id, Category.all, :id, :category_name, prompt: "選択", class: "custom-select" %>
                    <%= f.text_field :new_category, class: "form-control" %>
                  </div>
                  <div class="form-group col-md-8 mb-4">
                    <%= f.label :tag_list, "タグ(カンマで区切ってください)", class: "col-md-4 col-form-label mb-2" %>
                    <%= f.text_field :tag_list, class: "form-control" %>
                  </div>
                    <%= f.hidden_field :status %>
                    <%= f.submit "登録する", class: 'btn btn-outline-primary btn-register' %>
                  <% end %>
            </div>
          </div>
        </div>
      </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>
