<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="UsersResult-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity2">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-0"></div>
              <div class="col-md-10">
                <h1 class="R-TitleName3"><strong><%= @experiment.title %></strong></h1>
                </h1>
              </div>
            </div>
          </div>
      <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
          <div class="row justify-content-center">
            <div class="col-md-4">
              <%#= image_tag @experiment.image.url, class: "img-fluid", style: "height: 200px; width: auto; border-radius: 5px;" %>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <p class="experiment-time">実験実施日<br>
                <%= @experiment.date %></p>
              <p class="experiment-category">カテゴリー<br>
                <%= @experiment.category.category %></p>
              <p class="experiment-protocol">利用したプロトコル<br>
                <%= link_to "#{@experiment.protocol.title}", custom_show_path(@experiment.protocol) %></p>
            </div>
          </div>
        </div>
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-10 mt-5" style="margin-top: 20px;">
            <h4>実験の概要</h4>
            <hr class="mt-0 mb-4">
            <p>
              <%= @experiment.overview %>
            </p>
          </div>
        </div>
        </div>
        <div class="container-fluid">        <!-- 全体を囲むコンテナ -->
        <div class="row justify-content-center">
          <div class="col-md-10 mt-5" style="margin-top: 20px">
            <h4>実験の結果</h4>
            <hr class="mt-0 mb-4">
            <p><%= @experiment.result %>
             </p>
          </div>
        </div>
        </div>
      </div>
    </section>
    <div>
    <% @comments.each do |comment|%>
      <%= comment.user.last_name + " " + comment.user.first_name %>
      <%= commnet.comment %><br/>
    <% end %>
    </div>
    <%= form_for @comment do |f| %>
      <%= f.label :comment, "コメントを入力" %>
      <%= f.text_area :comment, row: 3 %>
      <%= f.submit "コメントする" %>
    <% end %>
  </article>
</main>









