<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="ExperimentResult-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity2">
        <div class="container">        <!-- 全体を囲むコンテナ -->
          <div class="row">
            <div class="col-md-7">
              <h1 class=""><strong>~hogehoge研究室
             </strong><span style="font-size: 27px;">(Keywordの検索結果)</span></h1>
            </div>
            <div class="col-md-5 mt-2">
              <form class="form-inline ml-auto">
                <label class="sr-only" for="kw">検索キーワード</label>
                <input type="search" class="form-control form-control-sm mr-sm-2 my-2 my-md-0"
                       placeholder="キーワード" id="kw">
                <button type="submit" class="btn btn-primary btn-sm my-2 my-md-0">検索</button>
              </form>
            </div>
          </div>
        </div>        <!-- 全体を囲むコンテナ -->
 <div class="container">        <!-- 全体を囲むコンテナ -->
  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">テンプレートプロトコル</h2>

  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/standard/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->

<div class="container">        <!-- 全体を囲むコンテナ -->
  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">ベース・カスタムプロトコル</h2>
  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/base/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/base/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/base/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->

<div class="container">        <!-- 全体を囲むコンテナ -->
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/result.png">実験結果</h2>


  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/experiment/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>


  </div>

</div>        <!-- 全体を囲むコンテナ -->

      </div>
    </section>
  </article>
</main>

