<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="CustomList-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1" style="padding-top: 100px;">
      <div class="container">        <!-- 全体を囲むコンテナ -->
<h1 class="R-TitleName3"><strong>~hogehoge研究室~</strong></h1>
  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">カスタムプロトコル</h2>

  <div class="d-sm-flex flex-wrap text-black">
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <a class="A-Tag" href="/user/show">
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      </a>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
    <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
      <%= link_to '/custom/show', class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5>プロトコル名：hogehogehoge</h5>
          <p class="mb-0">作成日時：</p>
          <p class="mb-0">作成者名：</p>
          <p class="mb-0">カテゴリー名：</p>
        </div>
      <% end %>
    </div>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

