<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="CustomList-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1" style="padding-top: 100px;">
      <div class="container">        <!-- 全体を囲むコンテナ -->
<h1 class="R-TitleName3"><strong>~<%= @labo.labo %>~</strong></h1>
  <h2 class="my-5"><img src="/assets/Admin/result.png" style="margin-right: 10px;">カスタムプロトコル</h2>

  <div class="d-sm-flex flex-wrap text-black">
    <% @customs.each do |custom| %>
      <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
        <%= link_to custom_show_path(custom), class: "A-Tag" do %>
          <div class="A-TagEffect">
            <h5>プロトコル名：<%= custom.title %></h5>
            <p class="mb-0">作成日時：<% custom.created_at %></p>
            <p class="mb-0">作成者名：<%= custom[:user] %></p>
            <!--p class="mb-0">カテゴリー名：実装方法不明のため一旦コメントアウト</p-->
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>

