<nav>

<%= render partial: "render/nav1" %>

</nav>

<main class="MemberList-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1" style="padding-top: 100px;">
<div class="container">
  <h1 class="R-TitleName3"><strong>~hogehoge研究室~</strong></h1>
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/member.png" style="">所属メンバー</h2>
</div>
<div class="container">        <!-- 全体を囲むコンテナ -->
  <div class="d-sm-flex flex-wrap text-black">
    <% @users.each do |user| %>
      <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
        <%= link_to user_show_path(user), class: "A-Tag" do %>
        <div class="media A-TagEffect">
          <%= image_tag user.avatar.url, class: "Member-Avatar mr-3" %>
          <div class="media-body" style="">
            <h4><%= user.last_name + " " + user.first_name %></h4>
            <p class="mb-0">大学名：<%= @labo_university %></p>
            <p class="mb-0">学部名：<%= @labo_department%></p>
            <p class="mb-0">学科名：<%= @labo_course %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  
    </div>

  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>










