<nav>

<%= render partial: "render/nav1" %>

</nav>


<main class="Users-screen wf-roundedmplus1c">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity1">
      <div class="container" style="margin-bottom: 75px;">        <!-- 全体を囲むコンテナ -->
        <h1 class="R-TitleName3" style="margin-bottom: 50px;"><strong>~<%= @labo.labo %>~</strong></h1>
        <div class="d-sm-flex flex-wrap text-black">
          <div class="bg-info p-3 mb-2 mr-sm-2 Member-Box">
            <div class="media A-TagEffect">
              <%#= image_tag @user.avatar.url, class: "Member-Avatar mr-3" %>
              <div class="media-body" style="">
                <h4><%= @user.last_name + " " + @user.first_name %></h4>
                <% if @user.eql? current_user %>
                  <%= link_to "プロフィールの編集", edit_user_registration_path(resource) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="container">        <!-- 全体を囲むコンテナ -->
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/file.png">カスタムプロトコル</h2>

  <div class="d-sm-flex flex-wrap text-black ">
    <% @custom_protocols.each do |custom| %>
      <div class="bg-info p-3 mb-2 mr-sm-2 Custom-Box">
        <%= link_to custom_show_path(custom), class: "A-Tag" do %>
          <div class="A-TagEffect">
            <h5>プロトコル名：<%= custom.title %></h5>
            <p class="mb-0">作成日時：<%= custom.created_at %></p>
            <p class="mb-0">カテゴリー名：＊後ほど追加予定＊</p> 
          </div>
        <% end %>
      </div>
    <% end %>
    <%= paginate @custom_protocols %>
  </div>

</div>        <!-- 全体を囲むコンテナ -->

<div class="container">        <!-- 全体を囲むコンテナ -->
  <h2 class="my-5"><img class="icon-blank" src="/assets/Admin/result.png">実験結果</h2>

  <div class="d-sm-flex flex-wrap text-black">
  <% @experiments.each do |experiment| %>
    <div class="bg-info p-3 mb-2 mr-sm-2 Result-Box">
      <%= link_to experiment_show_path(experiment), class: "A-Tag" do %>
        <div class="A-TagEffect">
          <h5><%= experiment.title %></h5>
          <p class="mb-0">作成日時：<%= experiment.date %></p>
          <p class="mb-0">カテゴリー名：<%= experiment.category.category_name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @experiments %>
  </div>

</div>        <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>










