
<main class="Login-screen">
  <article>
    <section id="BGP-researchable">
      <div class="BGP-Opacity5">
        <div class="container-fluid wf-roundedmplus1c">        <!-- 全体を囲むコンテナ -->
          <h1 class="R-TitleName text-center"><strong>Researchable</strong></h1>
          <h5 class="text-center" style="margin-bottom: 75px;">研究者の時間は、研究の為に・・・</h5>
          <h2 class="text-center" style="margin-bottom: 75px;">パスワードの変更</h2>
          <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-10">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
                <div class="form-group form-row">
                  <%= f.label :password, "新しいパスワード", class: " col-form-label text-md-left mb-4" %><br />
                  <div class="col-md-6">
                    <%= f.password_field :password, autofocus: true, autocomplete: "new_password", placeholder: "6文字以上の半角英数字", class: "form-control" %>
                  </div>
                </div>

                <div class = "form-group form-row" >
                    <%= f.label :password_confirmation, "新しいパスワード", class: "col-form-label text-md-left mb-4" %><br/>
                    <div class="col-md-6">
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "確認のためもう一度入力してください。", class: "form-control" %>
                    </div>
                </div>
                <div class="form-row">
                  <div class="col-9 text-center">
                    <%= f.submit "パスワードを変更する。", class: "btn btn-outline-primary" %>
                  </div>
                </div>
              <% end %>
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>                <!-- 全体を囲むコンテナ -->
      </div>
    </section>
  </article>
</main>
